{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true
      }
    ],
    ["stage-2"]
  ],
  "plugins": ["dynamic-import-webpack"]
}
